<phpunit bootstrap="./bootstrap.php" colors="true">
    
    <testsuite name="smrtr-datagrid">
        <directory>./</directory>
    </testsuite>
    
    <filter>
        <whitelist>
            <directory suffix=".php">..</directory>
        </whitelist>
    </filter>
    
    <logging>
        <log type="coverage-html" target="./output" charset="UTF-8"
        yui="true" highlight="true" lowUpperBound="50" highUpperBound="80" />
        <log type="testdox" target="./output/testdox.html" />
    </logging>
    
</phpunit>
